<h2><%= @post.title %></h2>

<p><%= @post.content %></p>

Posted in:
<% @subs.each do |sub| %>
  <a href="<%= sub_post_url(sub, @post) %>"><%= sub.title %></a>
<% end %>
<br>
<a href="<%= edit_post_url(@post) %>">Edit Post</a>