<h2><%= @post.title %></h2>

<p><%= @post.content %></p>

<!-- <%# @comments.each_with_index do |comment, i| %>
  <%#=  i + 1 %>. <%#= comment.user.username %>
  <p><%#= comment.content %></p><br><br>
<%# end %>
<br> -->
<a href="<%= edit_post_url(@post) %>">Edit Post</a>
<a href="<%= sub_url(@sub) %>">Back to <%= @sub.title %></a>